node_modules/
dist/
.next/
backend/dist/
backend/node_modules/
frontend/tsconfig.tsbuildinfo
*.log
.env
.env.local
.env.*.local
.DS_Store
Thumbs.db
nul
*.py
*.xml
!backend/prisma/**/*.xml
*.jar
frontend/next-env.d.ts
aeroacademy-rules.conf
anti-obfuscation.conf
crs-setup.conf
honeypot-locations.conf
modsecurity.conf
nginx-*.conf
f2b-*.conf
jail.local
setenv_orig.sh
AD_full_resource.json
ad.json
ad_create.json
ad_full.json
ad_noconfig.json
ad_resource.json
camlight_resource.json
connector_full.json
